<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostPeopleFinder"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RedirectActivity"
            android:exported="false"/>

        <activity
            android:name=".RegisterPageActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".DetailsActivity1"
            android:exported="false"/>


        <activity
            android:name=".VerifyCodeActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="false"/>

        <activity
            android:name=".PersonDetailsActivity"
            android:exported="false"/>

        <activity
            android:name=".PasswordReseatSuccessfully"
            android:exported="false"/>




    <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ResponseActivity"
            android:exported="false" />

        <activity
            android:name=".IntroActivity"
            android:exported="false"/>

        <activity
            android:name=".DetailsActivity7"
            android:exported="false"
            />



        <activity
            android:name=".DetailsActivity2"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity3"
            android:exported="false"
            />
        <activity
            android:name=".DetailsActivity4"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity5"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity6"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".DetailsCompleteActivity8"
            android:exported="false" />
        <activity
            android:name=".VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".PrivacePolicyActivity"
            android:exported="false" />

        <activity android:name=".MapActivity"
            android:exported="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnmuO0_0bCgZD6IkYcucvSXJZFxwiuqvE"/>

    </application>

</manifest>